# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor / OS
.vscode/
.idea/
*.swp
Thumbs.db
.DS_Store
# Database — real user data, kabhi push mat karo
db.sqlite3

# Environment variables
.env
*.env